
<!-- Content of Final Check List screen -->
<ion-header-bar class="bar-header playstore-header" align-title="center">
        <div class="buttons">
           <button class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;" back></button>
        </div>
        
        <img class="title" src="./img/header-blue.png">
        
     <div class="buttons">
          <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
        </div>
</ion-header-bar>

<!-- Content of Final checklist screen -->
<ion-content>
    <br>
    <div align="center">
    <h1 class="heading-style">Check List</h1>

    </div>
    <!-- Check List content -->
    <div class="mb-cotent" align="left">
    <p>&#10003; Shoulder Dystocia Introduction</p>
    <p>&#10003; Shoulder Dystocia Drill</p>
    <p>&#10003; Documentation</p>
    <p>&#10003; What to document</p>
    <p>&#10003; Steps</p>
    <p>&#10003; Conclusions</p>

    
    </div>
    <br>
    <br>
    <br>
    <div align="center">
    <!-- Watch Video Button -->
    <button class="button button-calm" ng-click="watchVideo();">Rewatch Video</button>
    </div>
    
      
</ion-content>