<ion-header-bar class="bar-header playstore-header" align-title="center">
        <div class="buttons">
           <button class="button" style="background-color:#F68B1F;color:white;" back>Back</button>
        </div>
        
        <img class="title" src="./img/header.JPG">
        
     <div class="buttons">
          <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
        </div>
</ion-header-bar>
      <!-- end of ionic header bar -->

<ion-content>
    <br>
    <div align="center">
    <h1 class="heading-style">Conclusions</h1>
    </div>
    <div align="left" style="margin: 0px 15px 0px 15px;">
    <p>
    A thorough review of the literature on shoulder dystocia reveals the following:<br>
    1. Up until this year there has been no way for obstetricians to determine with any degree of accuracy which babies would be macrosomic and which babies would experience shoulder dystocia at delivery.<br>
    2. Likewise, until this year the various strategies proposed to attempt to reduce the number of shoulder dystocia deliveries and brachial plexus injuries would have all resulted in:<br>
        a. Hundreds or thousands of cesarean sections to prevent a single case of permanent brachial plexus injury<br>
        b. The potential medical complications from such interventions<br>
        c. The economic costs of such interventions<br>
    3. Although there are various techniques for resolving shoulder dystocias when they occur, these will not totally eliminate the incidence of brachial plexus and other birth injuries.<br>
    4. Brachial plexus injuries are often caused by factors not related to delery.<br>
    5. New research by multiple investigators has confirmed a linkage between maternal size, fetal weight and shoulder dystocia. Based on this association, Dr. Hamilton in Montreal, has developed a shoulder dystocia risk prediction tool (the CALM Shoulder ScreenTM, patent pending) that is able to predict more than half of those women who will encounter this complication. This methodology promises to change the current consensus of obstetrical opinion about the predictability of shoulder dystocia and to change the way obstetricians seek to prevent its occurrence and the complications that arise from it.
    </p>
    </div>

      
</ion-content>
   


 <ion-footer-bar align-title="center" class="bar-calm">
   
    <h1 class="title" ng-click="checkList();">Next</h1>
    
</ion-footer-bar>
     




