<ion-header-bar class="bar-header playstore-header" align-title="center">
        <div class="buttons">
           <button class="button" style="background-color:#F68B1F;color:white;" back>Back</button>
        </div>
        
        <img class="title" src="./img/header.JPG">
        
     <div class="buttons">
          <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
        </div>
</ion-header-bar>
      <!-- end of ionic header bar -->

<ion-content>
    <br>
    <div align="center">
    <h1 class="heading-style">Documentation</h1>
    </div>
    <div align="left" style="margin: 0px 15px 0px 15px;">
    <p>
    Careful documentation of instances of shoulder dystocia and their resolution is extremely important for two reasons:<br>
    1) Obstetricians want to learn as much as possible from instances of shoulder dystocia in order to develop the best techniques for dealing with them.<br>
    2) Shoulder dystocia is so often the initiating cause of medical-legal actions.
    </p>
    </div>
    <div align="center">
    <h1 class="heading-style">What to document</h1>
    </div>
    <div align="left" style="margin: 0px 15px 0px 15px;">
    <p>
    Acker (1991) described what careful documentation of a shoulder dystocia delivery should include:<br>
    1) Exact times of events.<br>
    2) Description of the maneuvers used.<br>
    3) Estimation of the traction forces exerted.<br>
    The note must be legible and must be written or dictated shortly after the events so that it is a contemporaneous medical progress note. Acker also recommends that the note have a specific form. This would include comments on:
    </p>
    </div>

    
</ion-content>
   
<ion-footer-bar align-title="center" class="bar-calm">
   
    <h1 class="title" ng-click="steps();">Next</h1>
    
</ion-footer-bar>
     




