<!--  Header of Home screen -->
<ion-header-bar class="bar-header playstore-header" align-title="center">
    <img class="title" src="./img/header-blue.png">
</ion-header-bar>
<!-- end of ionic header bar -->
<!-- Home Page content of the Home screen -->
<ion-content>
    <br>
    <div align="center">
        <h1 class="heading-style">Shoulder Dystocia Introduction</h1>
    </div>
    <div align="left" style="margin: 0px 15px 0px 15px;">
        <p class="sansserif" style="text-align: justify !important;">
            Shoulder dystocia is an obstetrical complication that occurs in thousands of deliveries in the US each year. It has the potential for causing significant, lifelong injury to the newborns involved in such deliveries. Despite the hundreds of published studies on shoulder dystocia many important questions remain:
            <br> • Is shoulder dystocia predictable?
            <br> • Can it be prevented?
            <br> • When it does occur, can anything be done to decrease the risk of brachial plexus injury?
            <br> • If there is an injury, was it caused by mismanagement on the part of the physician while attempting to resolve the shoulder dystocia or was it an inevitable consequence of the dystocia?
        </p>
    </div>
    <div align="center" class="bottom-btn">
        <!-- Watch Video Button -->
        <button class="button button-calm" ng-click="watchVideo();">Watch Video</button>
        <button class="button button-calm" ng-click="seeCheckList();">See Check List</button>
        <button class="button button-calm" ng-click="socialSharing();">Share Check List</button>
    </div>
</ion-content>
