<ion-header-bar class="bar-header playstore-header" align-title="center">
        <div class="buttons">
           <button class="button" style="background-color:#F68B1F;color:white;" back>Back</button>
        </div>
        
        <img class="title" src="./img/header.JPG">
        
     <div class="buttons">
          <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
        </div>
</ion-header-bar>
      <!-- end of ionic header bar -->

<ion-content>
    <br>
    <div align="center">
    <h1 class="heading-style">Shoulder Dystocia Drill</h1>
    </div>
    <div text-align="justify" style="margin: 0px 15px 0px 15px;">
    <p>
    A shoulder dystocia drill is a practice run-through by a labor and delivery unit of a mock shoulder dystocia delivery. It has been suggested both as a practice protocol and as a teaching technique for all members of the obstetrical team. Some authors have stated that it is the obligation of every delivery unit and every obstetrician to participate in routine shoulder dystocia drills as part of obstetrical readiness. There is an excellent video tape produced by the American College of Obstetricians and Gynecologists (ACOG) -- AVL 103 -- that describes and visually demonstrates a model shoulder dystocia drill.
    Although practicing and preparing for any emergency is always a good idea, it is not clear whether a formalized drill performed at regular intervals is necessary to provide good care. What is necessary, however, is that obstetricians, obstetrical nurses, and everyone involved with deliveries know that any vaginal delivery can suddenly turn into a shoulder dystocia emergency and that they are aware of the steps necessary to resolve this emergency in an orderly, efficient manner.
    </p>
    </div>
    
</ion-content>
   
<ion-footer-bar align-title="center" class="bar-calm">
   
    <h1 class="title" ng-click="documentation();">Next</h1>
    
</ion-footer-bar>
     




