
<!--  Header of social sharing screen -->
<ion-header-bar class="bar-header playstore-header" align-title="center">
        <div class="buttons">
           <button class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;" back></button>
        </div>
        
        <img class="title" src="./img/header-blue.png">
        
     <div class="buttons">
          <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
        </div>
</ion-header-bar>
      <!-- end of ionic header bar -->


   <!-- Content of Social sharing screen -->
  <ion-content scroll="false">
    <br>
    <div align="center">
    <h1 class="heading-style">Share Check List</h1>
    </div>
    <br>
    <br>
    <div align="center">
    <ul class="list">
       <li id="displayLabel">
      
         <!-- Twiiter button for social sharing -->
         <img src="./img/twitter_btn_xdpi.png" alt="Twitter" ng-click="shareViaTwitter();" width="75%" height="75%">
       </li>
 
      <br>
      <li id="displayLabel">
        <!-- Facebook button for social sharing --> 
       <img src="./img/facebook_btn_xdpi.png" alt="facebook"  ng-click="shareViaFacebook();" width="75%" height="75%">
      </li>

    </ul> 
    
 			</div>
	</div>
  </ion-content>

  <!-- Cancel button of social sharing screen -->
  <ion-footer-bar align-title="center" class="bar-calm">
   
    <h1 class="title" ng-click="cancel();">Cancel</h1>
    
</ion-footer-bar>
     
