<!-- Content of Steps screen -->
<ion-header-bar class="bar-header playstore-header" align-title="center">
    <div class="buttons">
        <button class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;" back></button>
    </div>
    <img class="title" src="./img/header-blue.png">
    <div class="buttons">
        <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
    </div>
</ion-header-bar>
<!-- end of ionic header bar -->
<!-- Content of steps screen -->
<ion-content>
    <br>
    <div align="center">
        <h1 class="heading-style">Steps</h1>
    </div>
    <div align="left" style="margin: 0px 15px 0px 15px;">
        <p style="text-align: justify !important;">
            1) Delivery time both for head and body (the nurse should record this).
            <br> 2) Episiotomy description and timing.
            <br> 3) Whether or not anesthesia was present when the shoulder dystocia was recognized and any additional anesthesia given.
            <br> 4) Nasopharyngeal suction.
            <br> 5) Initial traction before shoulder dystocia is recognized, documenting force and duration.
            <br> 6) Maneuvers used, listing them in the order employed.
            <br> 7) The force used described in comparative terms such as average, maximal, etc.
            <br> 8) Duration of maneuvers -- have the nurses know to record this.
            <br> 9) Personnel -- identify all present.
            <br> 10) Estimated fetal weight and the actual birth weight.
            <br> Experience has shown that the best defense in a medical liability action, whether involving shoulder dystocia or any other situation, is thoughtful, articulate, timely documentation of each decision made in the course of treatment.
        </p>
    </div>
</ion-content>
<!-- Next button of steps screen -->
<ion-footer-bar align-title="center" class="bar-calm">
    <h1 class="title" ng-click="conclusion();">Next</h1>
</ion-footer-bar>
