
<!-- Content of conclusion screen -->
<div class="bg-blue step-one">
<ion-header-bar align-title="center" class="bar-header playstore-header">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script> -->
   <!--  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <div class="inner-header">
            <!-- <div class="buttons">
                <button back="" class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;">
                </button>
            </div> -->
            <div class="inner-logo">
                <img class="title" src="./img/header-blue.png">
                </img>
            </div>
            <!-- <div class="buttons">
                <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home">
                </button>
            </div> -->
        </div>
    </link>
</ion-header-bar>
      <!-- end of ionic header bar -->

<!-- Content of conclusion screen -->
<ion-content>
     <form class="first-form fm-section order-section">
   <h3 class="text-center page-title">Shoulder Dystocia Checklist</h3>
   <div class="clr"></div>
   <br>
   <div class="row row-dblock text-center">
   <div class="col-md-12 col-sm-12 col-xs-12" >
   <div class="green-section graybx1" ng-click="seeCheckList();">
   <a >Slides</a>
   </div>
   </div>
   
   </div>
   <div class="row row-dblock text-center">
   <div class="col-md-6 col-sm-6 col-xs-6" >
    <div class="green-section graybx" ng-click="watchVideo();">
    <a>Video</a>
    </div>  
   </div>
   <div class="col-md-6 col-sm-6 col-xs-6" >
    <div class="green-section graybx" ng-click="poster();"> 
    <a>Posters</a>
    </div>  
   </div>
   <!-- <div class="col-md-6 col-sm-6 col-xs-6  p-l0" >
   <div class="green-section" ng-click="disclaimer();">
   <a>Disclaimer</a>  
   </div>
   </div> -->
   </div>

  </form>
</ion-content>
</div>
