<div class="bg-gry step-one">
    <!-- Content of conclusion screen -->
    <ion-header-bar align-title="center" class="bar-header playstore-header">
        <!--    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js">
         </script>
         <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
        <div class="inner-header">
            <div class="buttons">
                <button back="" class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;">
                </button>
            </div>
            <div class="inner-logo">
                <img class="title" src="./img/header-blue.png">
                </img>
            </div>
            <div class="buttons">
                <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home">
                </button>
            </div>
        </div>
        </link>
    </ion-header-bar>
    <!-- end of ionic header bar -->
    <!-- Content of conclusion screen -->
    <ion-content>
        <form class="fm-section">
            <h1 class="heading-style">
                <i class="n-style">
                    1
                </i>
                Who was present?
            </h1><span class="clearfix"></span>
            <div class="first-form ">
                <div class="form-group m-b10 p-l10">
                    
                    <label class="checkbox-label">
                        <input type="checkbox" ng-disabled="true">
                            <span>Famliy members</span>
                            </label>
                    
                </div>
                <div class="form-group m-b10 p-l10">
                    
                    <label class="checkbox-label">
                        <input type="checkbox" ng-disabled="true">
                            <span>Team members and their roles</span>
                            </label>
                    <div class="clearfix">
                    </div>
                    <i class="list-apply">
                        List all that apply:
                    </i>
                </div>
                <div class="form-group m-b10 radio-block p-l10">
                    
                    <label>
                        <input type="checkbox" ng-disabled="true"/>
                        Pediatric Team
                    </label>
                    </div>
                <div class="form-group m-b10 radio-block p-l10">
                    <label>
                        <input type="checkbox" ng-disabled="true"/>
                        Scrub Tech
                        
                    </label>
                </div>
                <div class="form-group m-b10 radio-block p-l10">

                    <label>
                        <input type="checkbox" ng-disabled="true"/>
                        Anesthesia
                        
                    </label>
                    
                    <div class="clr">
                      
                    </div>
                </div>
                <div class="form-group m-b10 radio-block p-l10">

                    <label>
                        <input type="checkbox" ng-disabled="true"/>
                        Respiratory Therapy
                        
                    </label>
                </div>
                <div class="form-group m-b10 radio-block p-l10">

                    <label>
                        <input type="checkbox" ng-disabled="true"/>
                        RN
                    </label>
                    
                </div>
                <div class="form-group input-field p-l10">
                    
                    <label class="checkbox-label">
                        <input type="checkbox" ng-disabled="true">
                            <span>Who was the designated recorder in the DR?</span>
                            </label>
                    
                    <!-- <input name="" type="text"> -->
                    
                </div>
            </div>
        </form>
        <div align="center" class="form-group m-t20">
            <button class="nex-btn"  ng-click="checkList2();">
                Next Page
            </button>
        </div>
    </ion-content>
</div>
