<div class="bg-gry step-one">
<!-- Content of conclusion screen -->
<ion-header-bar align-title="center" class="bar-header playstore-header">
<!--     <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <div class="inner-header">
        <div class="buttons">
            <button back="" class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;">
            </button>
        </div>
        <div class="inner-logo">
            <img class="title" src="./img/header-blue.png">
            </img>
        </div>
        <div class="buttons">
            <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home">
            </button>
        </div>
    </div>
    </link>
</ion-header-bar>
<!-- end of ionic header bar -->
<!-- Content of conclusion screen -->
<ion-content>
        <form class="fm-section step-two">
            <h1 class="heading-style">
            <i class="n-style">
                5
            </i>
            Maneuvers performed
        </h1>
            <div class="bg-gry">
                <div class="form-group p-l10">
             
                    <h4>MARY</h4>
                    <label class="p-l15">
                        <input type="checkbox" ng-disabled="true"> McRoberts Maneuver
                    </label>
                    <h4>SUE</h4>
                    <label  class="p-l15">
                        <input type="checkbox" ng-disabled="true"> Suprapubic pressure
                    </label>
                    <h4>WON'T</h4>
                    <label  class="p-l15">
                        <input type="checkbox" ng-disabled="true"> Woods screw maneuver
                    </label>
                    
                    <h4>RIDE</h4>
                        <label class="p-l15">
                            <input type="checkbox" ng-disabled="true"> Reduce the posterior fetal arm:
                        </label>
                        <div class="p-l45">
                            <label>
                                <input type="checkbox" class="sml-checkbox" ng-disabled="true"> Left shoulder
                            </label>&nbsp&nbsp;
                            <label>
                                <input type="checkbox" class="sml-checkbox" ng-disabled="true"> Right shoulder
                            </label>
                        </div>
                    
                </div>
                <div class="form-group other-maneuvers p-l10">
                <label class="p-l15">
                    <input type="checkbox" ng-disabled="true"><span>Other maneuvers</span>
                </label>
                <label class="p-l15">
                    <input type="checkbox" ng-disabled="true"><span>Describe episiotomy or record why episiotomy was not performed</span>
                </label>
                <label class="p-l15">
                    <input type="checkbox" ng-disabled="true"><span>Thoughtfully & quantitatively describe your episodes of traction on the vertex</span></label>
                </div>
            </div>
        </form>
        <div align="center" class="form-group m-t20">
            <button class="nex-btn" ng-click="checkList6();">
                Next Page
            </button>
        </div>
</ion-content>
    </div>
