<div class="bg-gry green-bg">
<!-- Content of conclusion screen -->
<ion-header-bar align-title="center" class="bar-header playstore-header">
   <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <div class="inner-header">
            <div class="buttons">
                <button back="" class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;">
                </button>
            </div>
            <div class="inner-logo">
                <img class="title" src="./img/header-blue.png">
                </img>
            </div>
            <div class="buttons">
                <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home">
                </button>
            </div>
        </div>
    </link>
</ion-header-bar>
<!-- end of ionic header bar -->
<!-- Content of conclusion screen -->
<ion-content>
    <form class="fm-section step-two">
        <h1 class="heading-style">
            <i class="n-style pink-bg">
                4
            </i>
            Communicate
        </h1>
        <div class="first-form">
            <div class="form-group p-l10">
              <label class="checkbox-label">
               <input type="checkbox" ng-disabled="true"/><span>Time of recognition & announcement of this emergency</span> </label>
     
            </div>
            <div class="form-group p-l10">
              <label class="checkbox-label">
              <input type="checkbox" ng-disabled="true"/><span>Names & roles of additional staff called for assistance </span>
                        </label>
                    
            </div>
            <div class="form-group p-l10">
                    <label class="checkbox-label">
                       <input type="checkbox" ng-disabled="true"/>
                        <span>Time of arrival of extra staff</span>
                    </label>
            </div>
            <div class="form-group p-l10">
                    <label class="checkbox-label">
                       <input type="checkbox" ng-disabled="true"/>
                        <span>Family informed in immediate postpartum conference (witnessed by a nurse)</span>
                    </label>
            </div>
            
            <div class="form-group p-l10">
                 <label class="checkbox-label">
                  <input type="checkbox" ng-disabled="true">
                     <span>Maintain, nurture, and document your ongoing relationship with the patient and family</span>
                  </label>
            </div>
        </div>
    </form>
    <div align="center" class="form-group m-t20">
        <button class="nex-btn" ng-click="checkList5();">
            Next Page
        </button>
    </div>
</ion-content>
</div>
