<div class="bg-gry step-one">
<!-- Content of conclusion screen -->
<ion-header-bar align-title="center" class="bar-header playstore-header">
    <!-- <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js">
    </script>
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
        <div class="inner-header">
            <div class="buttons">
                <button back="" class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;">
                </button>
            </div>
            <div class="inner-logo">
                <img class="title" src="./img/header-blue.png">
                </img>
            </div>
            <div class="buttons">
                <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home">
                </button>
            </div>
        </div>
    </link>
</ion-header-bar>
<!-- end of ionic header bar -->
<!-- Content of conclusion screen -->
<ion-content>
    <form class="fm-section">
        <h1 class="heading-style">
            <i class="n-style">
                7
            </i>
           Record status of newborn
        </h1>
        <div class="bg-gry">
            <div class="form-group p-l10">
                        
                            <label class="checkbox-label">
                               <input type="checkbox" ng-disabled="true">
                                <span>Record Apgars at 1, 5, & 10 minutes</span>
                            </label>
                  </div>
                  <div class="form-group p-l10">
                            <label class="checkbox-label">
                            <input type="checkbox" ng-disabled="true">
                                <span>Document any injuries to scalp,
                                    skin, bones & explain</span>
                            </label>
                
                     </div>
                  <div class="form-group p-l10">    
                            <label class="checkbox-label">
                            <input type="checkbox" ng-disabled="true">
                               <span> Describe any impaired movement of arm or hand</span></label>
                  </div>
                  <div class="form-group p-l10">
                       
                            <label class="checkbox-label">
                            <input type="checkbox" ng-disabled="true">
                                <span>Record who performed the newborn  assessment</span>
                            </label>
                </div>
            
        </div>
    </form>
    <div align="center" class="form-group m-t20">
        <button class="nex-btn" ng-click="checkList8();"> 
            Next Page
        </button>
    </div>
</ion-content>
</div>
