<div class="bg-gry step-one">
<!-- Content of conclusion screen -->
<ion-header-bar align-title="center" class="bar-header playstore-header">
   <!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <div class="inner-header">
            <div class="buttons">
                <button back="" class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;">
                </button>
            </div>
            <div class="inner-logo">
                <img class="title" src="./img/header-blue.png">
                </img>
            </div>
            <div class="buttons">
                <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home">
                </button>
            </div>
        </div>
    </link>
</ion-header-bar>
<!-- end of ionic header bar -->
<!-- Content of conclusion screen -->
<ion-content>
    <form class="fm-section step-two">
        <h1 class="heading-style l-h28">
            <i class="n-style">
                3
            </i>
            Timing and method of recognition
        </h1>
        <div class="clr"></div>
        <div class="first-form bg-gry">
            <div class="form-group p-l10">
              <label class="checkbox-label">
              <input type="checkbox" ng-disabled="true"><span>Document turtle sign or other</span></label> 
            </div>
            <div class="form-group p-l10">        
             <label class="checkbox-label">
              <input type="checkbox" ng-disabled="true">
                <span>Delivering position of the baby's head and in which direction it rotated</span>
                               
              </label>     
            </div>
            <div class="form-group p-l10">
                      <label class="checkbox-label">
                       <input type="checkbox" ng-disabled="true">
                         <span>Which shoulder was beneath the mother's symphysis?</span>
                       </label>
                 
                    <div id="l-p-section">
                       <label><input type="checkbox" class="sml-checkbox" ng-disabled="true"> Left shoulder</label>&nbsp&nbsp;
                         <label><input type="checkbox" class="sml-checkbox" ng-disabled="true"> Right shoulder </label>
                    </div>
               
            </div>
        </div>
    </form>
    <div align="center" class="form-group m-t20">
        <button class="nex-btn" ng-click="checkList4();">
            Next Page
        </button>
    </div>
</ion-content>
</div>
