
<div class="bg-gry green-bg delivery-wrapper">
<!-- Content of conclusion screen -->
<ion-header-bar class="bar-header playstore-header"   align-title="center">
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <div class="inner-header">
        <div class="buttons">
           <button class="button icon ion-chevron-left" style="background-color:#F68B1F;color:white;" back></button>
        </div>
        <div class="inner-logo">
        <img class="title" src="./img/header-blue.png">
        </div>
     <div class="buttons">
          <button class="button icon ion-home" style="background-color:#F68B1F;color: white;" ui-sref="home"></button>
        </div>
        </div>
</ion-header-bar>
      <!-- end of ionic header bar -->

<!-- Content of conclusion screen -->
<ion-content>

<form class="fm-section step-two">
  <h1 class="heading-style l-h28"><i class="n-style pink-bg">2</i> Delivery of head and shoulders</h1>
    <div class="clr"></div>
    <div class="first-form">
  <div class="form-group p-l10">
     <label class="checkbox-label"><input type="checkbox" ng-disabled="true"> <span>Spontaneous, Vacuum, or Forceps</span></label>
  </div> 
  <div class="form-group p-l10">
     <label class="checkbox-label"><input type="checkbox" ng-disabled="true"><span>Time of delivery of head</span></label>
  </div>

  <div class="form-group p-l10">
     <label class="checkbox-label"><input type="checkbox" ng-disabled="true"><span>Time of delivery of shoulders and body</span></label>
  </div>
  <div class="form-group p-l10">
    <label class="checkbox-label"><input type="checkbox" ng-disabled="true"><span>Delivery of impacted shoulder</span></label>
    </div>
  <div class="form-group l-field p-l10">
         <label><input type="checkbox" class="sml-checkbox" ng-disabled="true">  Left shoulder</label>&nbsp;&nbsp;<label><input type="checkbox" class="sml-checkbox" ng-disabled="true">  Right shoulder</label> 
 </div>
 </div>

  </form>
   <div class="form-group m-t20" align="center">
  <button class="nex-btn" ng-click="checkList3();">Next Page</button>  
 </div>

</ion-content>
</div>